---
---
@import "minima";
/** 
 * Syling for code.michelleby.com
 * Author(s): Michelle Byrnes
 */
/**
 * Document Map
 *
 * Screen Groups:
 *
 * - Default. {0}
 * - Tablet.  {1}
 * - Desktop. {2}
 *
 * Style Groups:
 *
 * - Headers.               {A}
 * - Page Formatting.       {B}  
 * - Colors and Appearance. {C}
 */

/**
 * Default.
 */

/* Headers {0A} */
.page-header {
  margin: auto;
}
.page-header.site-logo {
  padding-top: 5em;
}
.section-header {
  color: #f9f1fe;
  text-align: center;
  font-weight: 200;
  font-size: 30px;
}
.code-post.code-post-header {
  font-size: 24px;
  padding: 1em 14px;
}
.code-post-sample.sample-header {
	font-size: 14px;
}
.code-post.code-post-header,
.code-post-sample.sample-header {
  font-family: "Source Serif Pro", serif;
}
/* Page Formatting {0B} */
.wrapper {
  max-width: -webkit-calc(800px - (30px));
  max-width: calc(800px - (30px));
  padding-right: 14px;
  padding-left: 14px;
}
.about-section-topic {
	display: grid;
	grid: "icon" "text";
	padding: 1em 1em 2em 1em;
}
.about-section-topic > img {
  justify-self: center;
}
.about-section-topic-content {
  margin: 2em 0;
}
.about-section-arrow {
  display: none;
}
article.code-post {
  margin-bottom: 5em;
}
.code-post.code-post-sample {
  display: grid;
  grid-template-areas: "key" "val";
  margin-bottom: 1em;
}
.code-post-sample.sample-header {
  margin-bottom: 0;
}
section > .wrapper,
article.code-post,
.code-post.code-post-sample,
.code-post.code-post-solutions > li,
ul.solution-languages > li,
li > button {
  padding: 0;
}
.section-header,
.code-post,
.code-post.code-post-prompt,
.code-post-sample.sample-header,
.solution-types {
  padding: 1em;
}
.code-post.code-post-solutions,
.code-post.code-post-solutions > li > ul,
.solution-types {
  list-style: none;
  margin: 0;
}
ul.solution-languages > li,
.solution-types > li {
  display: inline;
}
.solution-types {
  padding-top: 0;
}
/* Color and Appearance. {0C} */
body {
  color: #f9f2ff;
  background-color: #111012;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
}
.code-post.code-post-header,
.code-post.code-post-prompt,
.code-post-sample.sample-header,
.code-post.code-post-solutions,
.solution-types {
  background: #181818;
}
a, a:visited {
  color: #f9f2ff;
  text-decoration: underline;
}
a:hover {
  color: #447fcf;
}
li > button {
  background: none;
  color: #f9f2ff;
  border: none;
}
ul.solution-languages > li > button::after {
  content: "/";
  padding: 0 3px;
}
.solution-types > li > button {
  font-size: 16px;
  margin-right: 1em;
}
.solution-types > li > button::before {
  content: "#";
  padding: 0 5px 0 0;
}
footer {
  margin: auto;
  padding-bottom: 2em;
}
footer > a {
	text-decoration: none;
}
.element--closed {
  display: none;
}
.solution--active {
  font-weight: 700;
}
.arrow {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border: solid #f9f2ff;
  border-width: 0 2px 2px 0;
  display: block;
  padding: 3px;
  float: right;
  margin-top: 6px;
}
.up {
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
pre,
code {
  background-color: #404040;
}
.highlight pre {
  background-color: #404040;
}
.highlight .hll {
  background-color: #404040;
}
.highlight .c {
  color: #999999;
  font-style: italic;
} /* Comment */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
} /* Error */
.highlight .g {
  color: #d0d0d0;
} /* Generic */
.highlight .k {
  color: #6ab825;
  font-weight: bold;
} /* Keyword */
.highlight .l {
  color: #d0d0d0;
} /* Literal */
.highlight .n {
  color: #d0d0d0;
} /* Name */
.highlight .o {
  color: #d0d0d0;
} /* Operator */
.highlight .x {
  color: #d0d0d0;
} /* Other */
.highlight .p {
  color: #d0d0d0;
} /* Punctuation */
.highlight .cm {
  color: #999999;
  font-style: italic;
} /* Comment.Multiline */
.highlight .cp {
  color: #cd2828;
  font-weight: bold;
} /* Comment.Preproc */
.highlight .c1 {
  color: #999999;
  font-style: italic;
} /* Comment.Single */
.highlight .cs {
  color: #e50808;
  font-weight: bold;
  background-color: #520000;
} /* Comment.Special */
.highlight .gd {
  color: #d22323;
} /* Generic.Deleted */
.highlight .ge {
  color: #d0d0d0;
  font-style: italic;
} /* Generic.Emph */
.highlight .gr {
  color: #d22323;
} /* Generic.Error */
.highlight .gh {
  color: #ffffff;
  font-weight: bold;
} /* Generic.Heading */
.highlight .gi {
  color: #589819;
} /* Generic.Inserted */
.highlight .go {
  color: #cccccc;
} /* Generic.Output */
.highlight .gp {
  color: #aaaaaa;
} /* Generic.Prompt */
.highlight .gs {
  color: #d0d0d0;
  font-weight: bold;
} /* Generic.Strong */
.highlight .gu {
  color: #ffffff;
  text-decoration: underline;
} /* Generic.Subheading */
.highlight .gt {
  color: #d22323;
} /* Generic.Traceback */
.highlight .kc {
  color: #6ab825;
  font-weight: bold;
} /* Keyword.Constant */
.highlight .kd {
  color: #6ab825;
  font-weight: bold;
} /* Keyword.Declaration */
.highlight .kn {
  color: #6ab825;
  font-weight: bold;
} /* Keyword.Namespace */
.highlight .kp {
  color: #6ab825;
} /* Keyword.Pseudo */
.highlight .kr {
  color: #6ab825;
  font-weight: bold;
} /* Keyword.Reserved */
.highlight .kt {
  color: #6ab825;
  font-weight: bold;
} /* Keyword.Type */
.highlight .ld {
  color: #d0d0d0;
} /* Literal.Date */
.highlight .m {
  color: #3677a9;
} /* Literal.Number */
.highlight .s {
  color: #ed9d13;
} /* Literal.String */
.highlight .na {
  color: #bbbbbb;
} /* Name.Attribute */
.highlight .nb {
  color: #24909d;
} /* Name.Builtin */
.highlight .nc {
  color: #447fcf;
  text-decoration: underline;
} /* Name.Class */
.highlight .no {
  color: #40ffff;
} /* Name.Constant */
.highlight .nd {
  color: #ffa500;
} /* Name.Decorator */
.highlight .ni {
  color: #d0d0d0;
} /* Name.Entity */
.highlight .ne {
  color: #bbbbbb;
} /* Name.Exception */
.highlight .nf {
  color: #447fcf;
} /* Name.Function */
.highlight .nl {
  color: #d0d0d0;
} /* Name.Label */
.highlight .nn {
  color: #447fcf;
  text-decoration: underline;
} /* Name.Namespace */
.highlight .nx {
  color: #d0d0d0;
} /* Name.Other */
.highlight .py {
  color: #d0d0d0;
} /* Name.Property */
.highlight .nt {
  color: #6ab825;
  font-weight: bold;
} /* Name.Tag */
.highlight .nv {
  color: #40ffff;
} /* Name.Variable */
.highlight .ow {
  color: #6ab825;
  font-weight: bold;
} /* Operator.Word */
.highlight .w {
  color: #666666;
} /* Text.Whitespace */
.highlight .mf {
  color: #3677a9;
} /* Literal.Number.Float */
.highlight .mh {
  color: #3677a9;
} /* Literal.Number.Hex */
.highlight .mi {
  color: #3677a9;
} /* Literal.Number.Integer */
.highlight .mo {
  color: #3677a9;
} /* Literal.Number.Oct */
.highlight .sb {
  color: #ed9d13;
} /* Literal.String.Backtick */
.highlight .sc {
  color: #ed9d13;
} /* Literal.String.Char */
.highlight .sd {
  color: #ed9d13;
} /* Literal.String.Doc */
.highlight .s2 {
  color: #ed9d13;
} /* Literal.String.Double */
.highlight .se {
  color: #ed9d13;
} /* Literal.String.Escape */
.highlight .sh {
  color: #ed9d13;
} /* Literal.String.Heredoc */
.highlight .si {
  color: #ed9d13;
} /* Literal.String.Interpol */
.highlight .sx {
  color: #ffa500;
} /* Literal.String.Other */
.highlight .sr {
  color: #ed9d13;
} /* Literal.String.Regex */
.highlight .s1 {
  color: #ed9d13;
} /* Literal.String.Single */
.highlight .ss {
  color: #ed9d13;
} /* Literal.String.Symbol */
.highlight .bp {
  color: #24909d;
} /* Name.Builtin.Pseudo */
.highlight .vc {
  color: #40ffff;
} /* Name.Variable.Class */
.highlight .vg {
  color: #40ffff;
} /* Name.Variable.Global */
.highlight .vi {
  color: #40ffff;
} /* Name.Variable.Instance */
.highlight .il {
  color: #3677a9;
} /* Literal.Number.Integer.Long */

/*
* Tablet.
**/
@media (min-width: 768px) {
  .about-section-topic, .about-section-arrow {
    display: grid;
    grid-template-columns: 67px 1fr;
    align-items: center;
    padding: 1em;
  }
  .about-section-arrow {
    justify-items: center;
  }
  .about-section-topic-content {
    margin: 0 0 0 5em;
  }
}
/*
* Desktop.
**/
@media (min-width: 1200px) {
  /* Page Formatting {1B} */
  section > .wrapper,
  article.code-post {
    padding: 1em;
  }
  .code-post.code-post-sample {
    display: grid;
    grid-template-areas: "key val";
    margin-bottom: 1em;
    grid-template-columns: 100px 1fr;
  }
  .code-post-sample.sample-header {
    text-align: right;
  }
  .code-post-sample.sample-header,
  .code-post-sample.sample-code {
    align-self: center;
  }
  /* Color and Appearance {1C} */
  .code-post-sample.sample-header {
    background: none;
  }
  .code-post-sample.sample-code {
    display: block;
  }
  .arrow {
    display: none;
  }
}
